* {
  min-height: 0;
  min-width: 10px;
  font-family: Lexend, "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
}


* {
  border-radius: 0px; /* Adjust the radius as desired */
  /* Other styles */
}


window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #222425;
  /* background-color: rgba(24, 24, 37, 0.6); */
}



#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #222425;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #222425;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #222425;
  color: #74ed7a;
}

#workspaces button.urgent {
  background-color: #222425;
  color: #cbc4d3;
}

#clock,
#pulseaudio,
#mpris
#battery
#tray
{
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #222425;
}




#clock {
  color: #a668e3;
}

#clock.simpleclock {
  color: #7777f2;
}


#pulseaudio {
  color: #ad3c34;
}

#pulseaudio.muted {
  color: #ad3c34;
}

#battery {
  margin-right: 20px;
  color: #74ed7a;
  font-size: 12px;
}

#tray {
  margin-right: 30px;
}


#cpu {
  color: #7297ed;
}


tooltip {
  background-color: #222425;
  border: 2px solid #74ed7a;
}

